body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2%;
    background-image: -webkit-repeating-radial-gradient();
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

header {
    position: relative;
    overflow: hidden;
    border-radius: 1em 1em 0 0;
    height: 20vh; /* Adjust header height */
}

.ol p{
    font-size: 1.2em;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.background-image {
    flex: 1;
    height: 100%;
    background-size: cover;
    background-position: left;
}

.profile-pic {
    width: 15%; /* Adjust profile picture size */
    border-radius: 50%;
}

.header-text {
    color: #d59929e3;
}

header h1 {
    font-size: 2em;
    margin: 0;
    color: #8114a2;
    font-style: italic;
}

.salutation {
    font-size: 3em;
    color: #cb0c0c;
    margin-bottom: 0.5em;
    font-style: italic;
}

.social-links {
    display: flex;
    gap: 1em;
}

.social-links a {
    color: #0f9dbd;
    font-size: 1.5em;
    text-decoration: none;
}

.social-links a:hover {
    color: #ffde59;
}

main {
    padding: 2%;
}

section {
    margin-bottom: 2%;
}

.intro h2, .donation h3, .guide h3 {
    font-size: 2em;
    color: #d305c6;
    /* border-bottom: 0.2em solid #0073e6; */
    text-align: left;
    margin-bottom: 1em;
    font-style: italic;
}

.intro p {
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.6;
    text-align: left;
    color: rgb(0, 146, 44);
}

.wallet-address {
    font-size: 1.2em;
    word-wrap: break-word;
}

.donate-btn {
    display: inline-block;
    padding: 1em 2em;
    background-color: #0073e6;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5em;
    font-weight: bold;
}

.donate-btn:hover {
    background-color: #005bb5;
}

.guide p{
    font-style: italic;
    font-size: 1.5em;
}

.coin{
    display: inline-block;
    padding: 1em 2em;
    background-color: #0f9dbd;
    color: #fff;
    text-decoration: none;
    border-radius: 1em;
    font-weight: bold;
    align-self: center;
}

.coin:hover{
    background-color: #006f88;
}

.recommendation{
    font-style: italic;
    font-size: 1.5em;

}

.guide ol {
    padding-left: 2em;
    font-size: 1.3em;
    font-style: italic;
}

.guide ol li {
    margin-bottom: 1em;
    line-height: 1.6;
}

.gratitude{
    font-size: 3em;
    color: #cb3f0c;
    text-align: center;
    font-style: italic;
}

.donation p{
    font-size: 1.4em;
    font-style: italic;
}
